<h1>MyVeryBox</h1>

<h2 class="ui dividing header"></h2>

<div class="row">
  <div class="sixteen wide column">
    <h3>Easiest file sharing out there</h3>
    <p>
      Self hosted, with basic but functional interface and compatibility with 3rd party clients like ShareX.<br/>
      Want your own? Here's <a href="https://github.com/ziptofaf/myverybox/">source code</a>
      <% if current_user %>
        <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class: 'ui button primary' %>
    <% end %>
    </p>
  </div>
</div>