@import 'semantic-ui';

.inline-form {
  display: inline-block !important;
}

.truncated-text {
  overflow: hidden;
  max-width: 50px;
  max-height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.truncated-text:hover {
  overflow: visible;
  white-space: normal;
  max-width: unset;
  max-height: unset;
}